{% extends 'dashboard/base.html.twig' %} {% block content %}
<div class="divider">
    <ion-icon name="person-outline"></ion-icon>users</div>
<div class="pages tp-4">
    <div class="cards">
        <div class="page-title">
            <ion-icon name="person-add-outline"></ion-icon>create a new user </div>
        <p></p>
        <form class="form-group" action="/user/create" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="email" name="email" placeholder="e-mail">
            <input type="password" name="passcode" placeholder="password">
            <button type="submit">save <ion-icon name="chevron-forward-outline"></ion-icon></button>
        </form>
    </div>
    <div class="cards">
        <div class="page-title">
            <ion-icon name="flashlight-outline"></ion-icon>manager{% if user %} {{user.username}} {% endif %}
        </div>
        <!-- -->
        {% if users %} {% for user in users %}
        <ul>
            <li>{{user.username}}</li>
            <li>{{user.email}}</li>
            <li>{{user.level}}</li>
        </ul>
        {% endfor %} {%endif%}
        <!-- edit -->
        {% if user %}
        <form class="form-group" action="/user/update" method="post">
            <input type="text" name="username" placeholder="username" value="{{user.username}}">
            <input type="email" name="email" placeholder="e-mail" value="{{user.email}}">
            <input type="password" name="passcode" placeholder="password" value="{{user.password}}">
            <input type="hidden" name="id" value="{{user.user_id}}">
            <button type="submit">save
            <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
        </form>
        <a href="/user">
            <button type="menu">back
                <ion-icon name="chevron-back-outline"></ion-icon>
            </button>
        </a>
        {% endif %}
    </div>
    <div class="cards">

    </div>
</div>
{% endblock %}