{% extends "books/base.html.twig" %}
{% block content %}
<div class="container">
        <h1>Showing: {{book.title}} </h1>
        <form action="/books/update/{{book.id}}" method="post">
            <input class="form-control" type="text" value="{{ book.title }}" name="title" placeholder="Title"><br/>
            <input class="form-control" type="text" value="{{ book.author }}" name="author" placeholder="Author"><br/>
            <input class="form-control" type="text" value="{{ book.genre }}" name="genre" placeholder="Genre"><br/>
            <input class="form-control" type="text" value="{{ book.year }}" name="year" placeholder="Year"><br/>
            <input class="form-control" type="text" value="{{ book.isbn }}" name="isbn" placeholder="ISBN"><br/>
            <input type="hidden" name="id" value="{{ book.id }}">
            <button class="btn btn-warning" type="submit" value="Add New Book">Update</button>
        </form>
    </div>
{% endblock %}